.background {
    background-color: $bg-col;
    height: 100%;
    width: 100%;
}

.background-front {
    margin: auto;
    width: 70%;
    height: 100%;
    background-color: $box-col;
    box-shadow: 0px 5px 5px rgba(104, 104, 104, 0.8);
    
}

/* Sektion 1 */ 

.presentation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    background-color: $box-col;
    

    .presentation__rina {
        margin: 5rem 1rem 1rem 1rem;
        width: 14rem;

            img {
            max-width: 100%;
            height: auto;
            }

    }

    .presentation__location {
        margin: 1rem;
            img {
            max-width: 100%;
            height: auto;
            }

    }
}

.products {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;

        .products__card--1 {
            
        }

            img {
            max-width: 100%;
            height: auto;
            }
}

.carusell {

}

.booking {

}

.findus {

}




















