@import "variables.scss";

/* Main CSS */

/* NOLLSTÄLLNING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-top: 1rem;
    margin: 1rem 0 0 0;
    text-align: center;
    color: $font-col2;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 0.5px rgba(102, 113, 124, 0.575);
}

/* NAVIGERING */ 
.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: $nav;
    display: flex;
    box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.575);
    z-index: 1;

}
.menu-toggle {
    padding: 0.5em;
    font-size: 2.5em;
    color: $font-col2;
    text-shadow: 0px 1px 0.5px rgba(102, 113, 124, 0.575);
}
#nav__close {
    padding: 1.5rem;
    font-size: 2.5rem;
    color: $font-col2;
}
.navmenu {
    position: fixed;
    display: none;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: $nav;
}
.navmenu__a {
    display: block;
    padding: 1rem 1rem 1rem 1.5rem;
    line-height: 1em;
    color: $font-col2;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 0.5px rgba(102, 113, 124, 0.575);
}
 
.navmenu:target {
    display: block;
}

.navmenu:target .backdrop {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* MEDIAQUERIES HEADER */

@media screen and (min-width: 800px) {
    .menu-toggle {
        display: none;
    }
    #nav__close {
        display: none;
    }
    .navmenu {
        display: flex;
        box-shadow: none;
        justify-content: center;
        margin-top: 1.8rem; 
    }
    .navmenu__ul {
        li {
            display: inline;
            padding: 1rem;
        }
    }
    .navmenu__a {
        display: inline;
        border-bottom: 0;
        font-size: 1.3rem;
    }
}


// retina screen fix
/* .logo {
    background-image: url('/images/my_image.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
     #logo {
     background-image: url('/images/my_image@2x.png');
     background-size: 200px 100px;
   }
} */
