@import "variables.scss";


/* Main CSS */

/* NOLLSTÄLLNING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// NAVIGERING // 

.header {
    height: 4rem;
    width: 100%;
    background-color: $nav;

    .navmenu {
        display: flex;
        justify-content: center;
    
            ul {
                list-style: none;

                    li {
                        display: inline;
            
                    }
            }

    }
    .menu-toggle, .menu-close {
    display: none;
    }
}


// retina screen fix
/* .logo {
    background-image: url('/images/my_image.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
     #logo {
     background-image: url('/images/my_image@2x.png');
     background-size: 200px 100px;
   }
} */


@import "index.scss";