@charset "UTF-8";
/* Main CSS */
/* NOLLSTÄLLNING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none; }

.header {
  position: fixed;
  width: 100%;
  background-color: #fee7e6;
  display: flex;
  box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.8); }

.menu-toggle {
  padding: 0.5em;
  font-size: 2.5em;
  color: #f08080; }

#nav__close {
  padding: 1.5rem;
  font-size: 2.5rem;
  color: #f08080; }

.navmenu {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #fee7e6;
  box-shadow: 0px 1px 5px rgba(104, 104, 104, 0.8); }

.navmenu__a {
  display: block;
  padding: 1rem 1rem 1rem 1.5rem;
  line-height: 1em;
  color: #f08080;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #f08080; }

.navmenu:target {
  display: block; }

.navmenu:target .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none; } }

/* .logo {
    background-image: url('/images/my_image.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
     #logo {
     background-image: url('/images/my_image@2x.png');
     background-size: 200px 100px;
   }
} */
.background {
  background-color: #faebe4;
  height: 100%;
  width: 100%; }

.background-front {
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: #e9ecf5;
  box-shadow: 0px 5px 5px rgba(104, 104, 104, 0.8); }

/* Sektion 1 */
.presentation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  background-color: #e9ecf5; }
  .presentation .presentation__rina {
    margin: 5rem 1rem 1rem 1rem;
    width: 14rem; }
    .presentation .presentation__rina img {
      max-width: 100%;
      height: auto; }
  .presentation .presentation__location {
    margin: 1rem; }
    .presentation .presentation__location img {
      max-width: 100%;
      height: auto; }

.products {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr; }
  .products img {
    max-width: 100%;
    height: auto; }
